[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
geopandas = "*"
rich = "*"
tqdm = "*"
ipykernel = "*"
jupyter = "*"
findspark = "*"
bamboolib = "*" # python3 -m bamboolib install_nbextensions
jupyter-utils = "*"
requests-cache = "*"
pyarrow = "*"
geopy = "*"
geocoder = "*"
pandarallel = "*"

[dev-packages]

[requires]
python_version = "3.8"
