colorama==0.4.4
findspark==2.0.1
geocoder==1.38.1
geopy==2.2.0
pandarallel==1.6.1
pipdeptree==2.2.1
requests-cache==0.9.4
tqdm==4.64.0
wheel==0.38.1
abbreviations==0.2.5
ftfy==6.1.1
rich==12.4.4
cryptography>=3.2 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
lambdaprompt==0.4.2
openai==0.27.8
boto3==1.26.82
diskcache==5.4.0
numpy==1.24.3
langchain==0.1.11
faiss-cpu==1.7.4
tiktoken==0.4.0
chainlit==0.5.1
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
aiohttp>=3.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
sentry_sdk==1.39.1
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
