bamboolib==1.30.1
colorama==0.4.4
findspark==2.0.1
geocoder==1.38.1
geopandas==0.10.2
geopy==2.2.0
jupyter==1.0.0
jupyter-utils==1.2.6
pandarallel==1.6.1
pipdeptree==2.2.1
pyarrow==8.0.0
requests-cache==0.9.4
tqdm==4.64.0
wheel==0.37.1
abbreviations==0.2.5
ftfy==6.1.1
rich==12.4.4
jupyterlab==3.4.8
