colorama==0.4.4
findspark==2.0.1
geocoder==1.38.1
geopy==2.2.0
pandarallel==1.6.1
pipdeptree==2.2.1
requests-cache==0.9.4
tqdm==4.66.3
wheel==0.38.1
abbreviations==0.2.5
rich==12.4.4
cryptography>=3.2 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
lambdaprompt==0.4.2
openai==1.63.0
boto3==1.26.82
diskcache==5.4.0
numpy==1.26.4
langchain-openai==0.3.6
langchain-community==0.3.17
faiss-cpu==1.8.0
chainlit==2.2.1
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
aiohttp>=3.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
sentry_sdk==2.8.0
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
